.is-employe {
  background-color: #fec007;
  background-color: #313131;
}

.input-group-text {
  padding: 0;
}

.form-control {
  height: 46px;
}

.header-right .notification_dropdown .nav-link {
  padding: 10px !important;
}
.pulse-css {
  height: 14px;
  background: #D8B9C3;
  right: -3px;
  top: -3px;
  border: 2px solid #fff;
  width: 14px;
}

.header-right .header-profile img {
  width: 50px;
  height: 50px;
}

.header-right .header-profile .dropdown-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .input-group-text {
    height: 46px !important;
  }
}
