<div class="authincation h-100">
  <div class="container vh-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-lg-6 col-md-8">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <a [routerLink]="['/admin/index']"><img src="assets/images/logo-manali.png" alt=""></a>
                </div>
                <h4 class="text-center mb-4">Crear Cuenta</h4>
                <form [formGroup]="form" (ngSubmit)="createCount()">
                  <div class="form-group">
                    <label class="mb-1"><strong>Nombre</strong></label>
                    <input 
                    type="text" 
                    class="form-control"
                    name="nombre" 
                    formControlName="nombre" 
                    placeholder="Nombre"
                    value="" />
                    <mat-hint class="text-danger fs-13 mt-1">
                      <span *ngIf="nameField.hasError('required') && nameField.touched" class="form-error-msg">
                        Nombre es requerido
                      </span>
                    </mat-hint>
                  </div>
                  <div class="form-group">
                    <label class="mb-1"><strong>Apellido Paterno</strong></label>
                    <input 
                    type="text" 
                    class="form-control"
                    name="apellido-paterno" 
                    formControlName="apellidoPaterno" 
                    placeholder="Apellido Paterno"
                    value="" />
                  </div>
                  <div class="form-group">
                    <label class="mb-1"><strong>Apellido Materno</strong></label>
                    <input 
                    type="text" 
                    class="form-control"
                    name="apellido-materno" 
                    formControlName="apellidoMaterno" 
                    placeholder="Apellido Materno"
                    value="" />
                  </div>
                  <div class="form-group">
                    <label class="mb-1"><strong>Correo Electrónico</strong></label>
                    <input 
                    type="email" 
                    class="form-control" 
                    name="email"
                    formControlName="email"
                    placeholder="Correo Electrónico"
                    value="" />
                    <mat-hint class="text-danger fs-13 mt-1">
                      <span *ngIf="emailField.hasError('required') && emailField.touched" class="form-error-msg">
                        Correo electrónico es requerido
                      </span>
                      <span *ngIf="emailField.hasError('email') && emailField.touched" class="form-error-msg">
                        Correo electrónico incorrecto
                      </span>
                    </mat-hint>
                  </div>
                  <div class="form-group">
                    <label class="mb-1"><strong>Teléfono</strong></label>
                    <input 
                    type="text" 
                    class="form-control"
                    name="telefono" 
                    formControlName="telefono" 
                    placeholder="Teléfono"
                    value="" />
                    <mat-hint class="text-danger fs-13 mt-1">
                      <span *ngIf="phoneField.hasError('required') && phoneField.touched" class="form-error-msg">
                        Teléfono es requerido
                      </span>
                      <span *ngIf="phoneField.hasError('pattern') &&  phoneField.touched" class="form-error-msg">
                        Teléfono debe ser de 10 caracteres
                      </span>
                    </mat-hint>
                  </div>
                  <div class="form-group">
                    <label class="mb-1"><strong>Contraseña</strong></label>
                    <div class="input-group">
                      <input 
                      #inputPassword
                      type="password" 
                      class="form-control" 
                      name="contrasena"
                      id="password"
                      formControlName="contrasena"
                      placeholder="Contraseña"
                      value="" />
                      <div class="input-group-append show-pass1 ">
                        <span class="input-group-text" (click)="toggleEyeIcon(inputPassword)">
                          <i class="fa" [ngClass]="{'fa-eye-slash': toggleEye, 'fa-eye': !toggleEye}"></i>
                        </span>
                      </div>
                    </div>
                    <mat-hint class="text-danger fs-13 mt-1">
                      <span *ngIf="passwordField.hasError('required') && passwordField.touched" class="form-error-msg">
                        Contraseña es requerida
                      </span>
                      <span *ngIf="passwordField.hasError('minlength') && passwordField.touched" class="form-error-msg">
                        Contraseña debe ser mayor a 8 caracteres
                      </span>
                    </mat-hint>
                  </div>
                  <div class="text-center mt-4">
                    <button #signInButton type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Crear Cuenta</button>
                  </div>
                </form>
                <div class="new-account mt-3">
                  <p>¿Ya tienes cuenta?</p>
                  <a class="text-primary" [routerLink]="['/login/admin']">Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-loading" *ngIf="loading">
  <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>